{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Create an event</h1>
    </div>
    <div>
        {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
{% include 'city/index.html.twig' %}
        <button type="submit">Envoyer</button>
        {{ form_end(myForm) }}
    </div>

{% endblock %}