{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Create an event</h1>
    </div>
    <div>
        {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}
        {% include 'city/index.html.twig' %}
        <button type="submit">Envoyer</button>
        {{ form_end(eventForm) }}
        {% include 'map/indexMap.html.twig' %}
    </div>
{% endblock %}

