{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    <a href="{{ path('main_home') }}">
        <button>Submit</button>
    </a>
    {{ form_end(eventForm) }}
{% endblock %}

