{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="title">Campus list</h1>

        {% for choice in campus %}
            <article>
                <div>{{ choice.name }}</div>
                <div>{{ choice.postcode }}</div>
                {% if app.user.administrator %}
                <a href="{{ path('campus_delete', {'id': choice.id}) }}">
                    <button class="button" value="remove">Delete</button>
                </a>
                <a href="{{ path('campus_modify', {'id': choice.id }) }}">
                    <button class="button" value="modify">Modify</button>
                </a>
                {% endif %}
            </article>
        {% endfor %}

{% endblock %}