{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}
    <a href="{{ path('main_home') }}">
        <button>Submit</button>
    </a>
    {{ form_end(campusForm) }}
{% endblock %}