{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Welcome to EventKSC !!</h1>
    </div>

    {% if app.user %}
    <!-- créer lien vers create event -->
    {% endif %}

{% endblock %}