{% extends 'base.html.twig' %}

{#<!-- A placer dans la navbar -->#}
{#    {% if app.user %}#}
{#        <p> Bienvenue {{ app.user.name}} !</p>#}
{#    {% endif %}#}

{#    {% if app.user.getAdmin() === true %}#}
{#        <a href="{{ path('admin') }}">Dashboard</a>#}
{#    {% endif %}#}

{% block body %}

    <div  class="idea-title">
        <h1>Home page</h1>
    </div>

{% endblock %}