{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
        <h2> Hello {{ app.user.firstname }} !</h2>
    {% endif %}

    <div>
        <h2>Welcome to your new favorite website!</h2>
    </div>



    {% if app.user %}
    <!-- créer lien vers create event -->
    {% endif %}

{% endblock %}