{% extends 'base.html.twig' %}


{% block body %}
<img src="https://aws-cf.caradisiac.com/prod/photos/0/6/3/128063/5159345/img-5159345e9c.gif" width="900"></a>

    <audio controls="controls" autoplay="autoplay">
        <source src="{{ asset('sounds/JFcrxiM62Ul_mission-impossible-theme-song-original.mp3') }} " type="audio/mp3">
    </audio>


<h1 style="color: red" >ERREUR 404</h1>

{% endblock %}

{% block title %}

{% endblock %}

